
.nueva{
    text-align:center;
}


.collapse navbar-collapse{
    background-color: #5B1B1B;
}
.navbar navbar navbar-expand-lg navbar-dark bg-danger{
    background-color: #5B1B1B;
}
.logoclas{
    margin-right: 20%;
    text-align: center;
    padding-right: 10%;
}
