 <nav class="nuevae"> 
        <button id="botone" type="button" routerLink="/oferta_laboral" class="btn btn-info">Añadir Oferta Laboral</button>
</nav>  
    <table class="table" >
      <thead class="thead-danger bg-danger">
        <tr>
          <th scope="col">oferta id</th>
          <th scope="col">Nombre de la Empresa</th>
          <th scope="col">Descripcion de la Empresa</th>
          <th scope="col">requerimientos</th>
          <th scope="col">descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fe of list">
                <td>{{ fe.oferta_id }}</td>
                <td>{{ fe.oferta_nombre_empresa }}</td>
                <td>{{ fe.oferta_descripcion_re }}</td>
                <td>{{ fe.oferta_tipo }}</td>
                
                <td>{{ fe.oferta_descripcion }}</td>
          <td ><button type="button"  routerLink="/datosgeneralesindex/{{ ed.persona_id }}" routerLinkActive="active" class="btn btn-secondary">editar</button></td>
        </tr>
      </tbody>
</table>