<nav class="nuevae"> 
    <button id="botone" type="button" routerLink="/oferta_laboral" class="btn btn-info">Añadir Oferta Laboral</button>
</nav>  
<table class="table table-hover" *ngFor="let f of list">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre de Curso</th>
      <th scope="col">Tipo de Curso</th>
      <th scope="col">Lugar de Curso</th>
      <th scope="col">Curso Modalidad</th>
      <th scope="col">Curso Fecha</th>
    </tr>
    
  </thead>
  <tbody>
        <tr class="table">
            <th scope="row">{{ f.id }}</th>
            <td>{{ f.nombrecurso }}</td>
            <td>{{ f.tipocurso }}</td>
            <td>{{ f.lugarcurso }}</td>
            <td>{{ f.cursomodalidad }}</td>
            <td>{{ f.cursofecha}}</td>
            <td> <button type="button" routerLink="/ofertaCursolFrom/{{ f.id }}" routerLinkActive="active" class="btn btn-outline-info">Edit</button> </td> 
            <td><button type="button" (click)="delete(f.id)" class="btn btn-danger">Delete</button></td>
          </tr>
  </tbody>    
</table> 