
<div class="conteiner">

        <nav class="navbar navbar-light bg-light" id="barra" >
            <a class="navbar-brand" href="#"><h4 id="barra">SISTEMAS DE EGRESADOS</h4></a>
            <img class="logo" src="../../assets/logo-upeu-blanco-italic.png" >
        </nav>

    <p>panel-egresado works!</p>
    
    <div class="row">
            <div class="col-sm-3 " >
                    <div class="row">
                          <div class="col-lg-12">
                              <img src="../../assets/kisspng.png" class="card-img-top" alt="...">
                            </div>
                        </div>
            </div>
            <div class="col-sm-9 ">
                <div class="row">        
                       
                    <div class="col-sm-4">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;" id="ref">
                                    <img class="card-img-top" id="imagenes" src="../../assets/kisspng.png" alt="Card image cap">
                                    <div class="card-body">
                                      <a href="#">Danger card title</a>
                                    </div>
                                  </div>      
                    </div>
                    <div class="col-sm-4">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;" id="ref">
                                    <img class="card-img-top" src="../../assets/kisspng.png" id="imagenes" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="#">Danger card title</a>
                                     
                                    </div>
                                  </div>    
                    </div>
                    <div class="col-sm-4">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;" id="ref">
                                    <img class="card-img-top" src="../../assets/kisspng.png" id="imagenes"  alt="Card image cap">
                                    <div class="card-body">
                                        <a href="#">Danger card title</a>
                                      
                                    </div>
                                  </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;" id="ref">
                                    <img class="card-img-top" src="../../assets/kisspng.png"    id="imagenes" alt="Card image cap">
                                    <div class="card-body">
                                       <a href="#">Danger card title</a>
                                    
                                    </div>
                                  </div>  
                    </div>
                </div>        
            </div>
         </div>
        
</div>
