.logo{
    right: 2%;
    width: 200px;
    height: 45px;
}
#card{
    margin-top:  15px;
}
#barra{
    background-color: #992e45!important;
    color: #ffffff!important;
}
.extra{
    text-align: center;
}