<div class="comtainer">
        <nav class="navbar navbar-light bg-light" id="barra" >
                <a class="navbar-brand" href="#"><h6 id="barra">INICIAR SESIÓN</h6></a>
                <a class="navbar-brand extrados" href="#" id="barra">SISTEMAS DE EGRESADOS</a>
                <img class="logo" src="../../assets/logo-upeu-blanco-italic.png" >
            </nav>
    <div class="body">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="width: 100%; height: 550px;" src="../../assets/hola.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="width: 100%; height: 550px"  src="../../assets/-graduating-student-group-wore-black-hat-black-hat-graduation-ceremony-university-_43157-771.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="width: 100%; height: 550px;" src="../../assets/video-graduacion-1280x640.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
      <div class="copyright">
        <div class="extra">
                Copyright © 2019 Sistema Egresado Online. Powered by @Group 3 &nbsp;| &nbsp;Derechos reservados
        </div>
    </div>
</div>