<p>comentario-index works!</p>
<table class="table" >
    <thead class="thead-danger bg-danger">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FECHA COMENTARIO</th>
        <th scope="col">COMENTARIO TIPO</th>
        <th scope="col">PERSONA ID</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">ESTADO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let com of list">
        <td>{{ com.comentarios_id }}</th>
        <td>{{ com.comentario_fecha }}</td>
        <td>{{ com.comentario_tipo }}</td>
        <td>{{ com.persona_id }}</td>
        <td>{{ com.comentario_descripcion }}</td>
        <td>{{ com.comentario_estado }}</td>
      </tr>
    </tbody>
</table>
