<div class="container">
  <div class="row">
    
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/imagenes/61263273-cuenta-de-usuario-masculino-perfil-del-icono-del-círculo-plana-para-aplicaciones-y-sitios-web.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Perfil</a>
          </div>
      </div> 
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/imagenes/53011.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Oferta Laboral</h5>
            <a href="#" class="btn btn">Go somewhere</a>
          </div>
      </div> 
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/imagenes/103333.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cursos De Actualización</h5>
            <a href="#" class="btn btn">Go somewhere</a>
          </div>
      </div>
    </div>
    
  </div>
</div>