<p>egresado-datos-index works!</p>



<!--<div *ngFor="let ed of list">

        <span>{{ p.Persona_Nombre }}</span>
        <span>{{ p.apellido }}</span>

        <span><button (click)="delete(d.id)">Delete</button></span>
</div>

<table class="table">
        <thead class="thead-danger bg-danger">
          <tr>
            <th scope="col">estado</th>
            <th scope="col">Código</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Nro Celular</th>
            <th scope="col">Fecha Egreso</th>
            <th scope="col">Escuela Profesional</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th >1</th>
            <td>ed.Egresado_Codigo_U</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
</table>-->