<h1>Agregar Oferta Laboral </h1>
<form [formGroup]="oferta_laboralForm" (ngSubmit)="save()">
    <div [hidden]="true">
        <input type="text" formControlName="id" name="id" id="id" >
    </div>
    <label>
        Nombre Empresa:
        <input type="text" formControlName="nombreempresa" name="nombreempresa" id="nombreempresa" required>
    </label>
    <br>
    <label>
        Descripcion De La Empresa:
        <input type="text" formControlName="descripcion" name="descripcion" id="descripcion" required>
    </label>
    <br>
    <label>
        Telefono:
        <input type="text" formControlName="telefono" name="telefono" id="telefono" required>
    </label>
    <br>
    <label>
        Direccion:
        <input type="text" formControlName="direccion" name="direccion" id="direccion" required>
    </label>
    <br>
    <button type="submit" [disabled]="!oferta_laboralForm.valid">Save</button>
</form>